.section3 {
	background: #252525;

	.titulo-secao3 {
		color: #fff;
	}
}

.verdeClaro {
	color: #3aaebd;
}

.listas-secao3 {
	list-style: none;
	padding: 0;
}

.form-secao3 {
	input {
		background: #2c2c2c;
	}

	.botao-padrao {
		background: #3aaebd;
		text-transform: uppercase;
	}
}